<html>
<head>
    <title>iCanteen - objednání stravy</title>
    <!-- Stripped Down HTML of /faces/secured/burza.jsp page. Only contains the neccessary structure with the expected data.-->
</head>
<body>
    <div id="bodyContext" style="height: 100%;">
        <div class="mainContext mainContextMinWidth" id="mainContext">
            <table class="tableDataShow">
                <tr class="bold">
                    <td>varianta</td>
                    <td align="left">datum</td>
                    <td align="left">popis</td>
                    <td align="left">výdejna</td>
                    <td align="right">počet</td>
                    <td align="right">objednat</td>
                </tr>
            </table>
            <div class="textGrey">
                <span class="fa-stack fa-lg">
                    <i class="far fa-square fa-stack-2x"></i>
                    <i class="fa fa-exclamation fa-stack-1x"></i>
                </span>
                Litujeme, ale v burze nejsou k dispozici žádná jídla.
            </div>
            <div align="center" class="topMenu topMenuMinWidth bottomBar textGrey noPrint" role="contentinfo"> Změna
                jídelníčku vyhrazena. | iCanteen 2.18.03
                | <span class="topMenuItem">poslední přihlášení: <span id="PoslLogin"
                        style="font-weight: bold;">2025-02-03 19:00:57.0 IP: 1.1.1.1</span></span>
                | &copy; <a href="https://www.z-ware.cz">Z-WARE s.r.o.</a> 2003-2021 | <a href="mobile.jsp"><i
                        class="far fa-mobile"></i> Mobilní zobrazení</a>
            </div>
        </div>
    </div>
</body>
</html>