<html>

<head>
    <title>iCanteen - přihlášení uživatele</title>
</head>

<body>
    <div id="mainContextDiv">
        <div id="navbar">
            <div id="login_menu" class="login_menu login_menu_margin">
                <div><img src="/img/logo.png" alt="logo" /></div>
                <div style="float: right;">

                </div>
                <div id="signup-user-col">
                    <div>
                        <form method="POST" name="formName" action="/j_spring_security_check">
                            <ul>
                                <li>
                                    <div class="input-group margin-bottom-sm">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                        <input class="form-control" type="text" placeholder="Přihlašovací jméno"
                                            name="j_username" id="j_username" required />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                        <input class="form-control" type="password" placeholder="Heslo"
                                            name="j_password" id="j_password" required />
                                    </div>
                                </li>
                                <li>
                                    <input type='checkbox' name='_spring_security_remember_me'
                                        class="checkbox-inline" /> Neodhlašovat mě na tomto počítači.
                                </li>
                                <li>
                                    <input type="hidden" name="terminal" value="false" />
                                    <input type="hidden" name="_csrf" value="20ff5e60-24a1-4037-9f3f-551d79398d63" />
                                    <input type="hidden" name="targetUrl"
                                        value="/faces/secured/main.jsp?terminal=false&amp;status=true&amp;printer=&amp;keyboard=" />
                                    <input type="submit" value="Přihlásit" class="btn btn-primary btn-login" />
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div style="margin-top: 10px;">



                </div>
            </div>
        </div>
        <div class="jidelnicek jidelnicekWeb">














            <div class="jidelnicekDen">
                <div id="day-2025-02-03" class="jidelnicekTop semibold">
                    Jídelníček na 03.02.2025 - Pondělí
                </div>
                <article>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Krupicová kaše *, kontinentální snídaně *, čaj *















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Bageta salámová, ovoce *

                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 3</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. krupicová kaše s kakaem, kontinentální snídaně, čaj *, jogurt, müsli, mléko + balíček
                            (croissant, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Podzemnice olejná (arašídy) a výrobky z nich - patří mezi potraviny ohrožující život">5</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka cibulačka, ragú krůtí *, těstoviny *, čaj *, sirup, voda, salátový bar
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka cibulačka, zeleninové lečo s vejci a uzeninou *, brambory *, čaj *, čaj *, sirup,
                            voda, salátový bar, vhodné pro celiaky



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Vepřové na houbách, knedlíky houskové *, čaj *, sirup, voda, salátový bar





















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. večeře č.1+ balíček (bageta se sýrem, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                </article>
            </div>














            <div class="jidelnicekDen">
                <div id="day-2025-02-04" class="jidelnicekTop semibold">
                    Jídelníček na 04.02.2025 - Úterý
                </div>
                <article>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Párek, hořčice *, kontinentální snídaně *, čaj *















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Bageta se šunkou *, ovoce *












                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 3</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. párek, hořčice, kontinentální snídaně, čaj *, jogurt, müsli, mléko + balíček (kobliha,
                            ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Hořčice a  výrobky z ní">10</span>, <span
                                    title="Sezamová semena (sezam) a výrobky z nich">11</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka pórková s vejcem *, omáčka rajská, hovězí maso dušené, knedlíky houskové *, čaj *,
                            sirup, voda, salátový bar, pro celiaky-bezlepkové těstoviny



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka pórková s vejcem *, dýňové rizoto s tofu, čaj *, sirup, voda, salátový bar





















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Kuřecí stehno v jemném rizotu se zeleninou, strouhaný sýr, čaj *, sirup, voda, salátový bar


















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. večeře č.1+ balíček (bageta tuňáková, ovoce)
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Ryby  a výrobky  z nich">4</span>, <span
                                    title="Podzemnice olejná (arašídy) a výrobky z nich - patří mezi potraviny ohrožující život">5</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                </article>
            </div>














            <div class="jidelnicekDen">
                <div id="day-2025-02-05" class="jidelnicekTop semibold">
                    Jídelníček na 05.02.2025 - Středa
                </div>
                <article>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Hermelín, kontinentální snídaně *, čaj *















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Bageta řízečková, ovoce *












                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 3</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. hermelín, zelenina, kontinentální snídaně, čaj *, jogurt, müsli, mléko + balíček (závin
                            listový s jablky, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Sezamová semena (sezam) a výrobky z nich">11</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka hovězí s rýží a hráškem *, uzená plec, lepenice *, okurka sterilovaná *, čaj *,
                            sirup, voda, salátový bar



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span title="Celer a výrobky z  něj">9</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka hovězí s rýží a hráškem *, špagety carbonara, čaj *, sirup, voda, salátový bar





















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span title="Celer a výrobky z  něj">9</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Přírodní máslový řízek *, bramborová kaše *, okurka sterilovaná *, čaj *, sirup, voda,
                            salátový bar
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Vlčí bob (LUPINA) a výrobky z něj">13</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. večeře č.1+ balíček (bageta vajíčková, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Sezamová semena (sezam) a výrobky z nich">11</span>, <span
                                    title="Vlčí bob (LUPINA) a výrobky z něj">13</span>)</span>


                        </div>
                    </div>

                </article>
            </div>














            <div class="jidelnicekDen">
                <div id="day-2025-02-06" class="jidelnicekTop semibold">
                    Jídelníček na 06.02.2025 - Čtvrtek
                </div>
                <article>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Šunka, kontinentální snídaně *, čaj *















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Sezamová semena (sezam) a výrobky z nich">11</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Bageta se sýrem *, ovoce *












                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 3</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. šunka, zelenina, kontinentální snídaně, čaj *, jogurt, müsli, mléko + balíček (koláč s
                            tvarohem, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Sezamová semena (sezam) a výrobky z nich">11</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka žampionová s vejcem *, kuře na způsob bažanta *, brambory *, čaj *, sirup, voda,
                            salátový bar, vhodné pro celiaky
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka žampionová s vejcem *, kuskus s vepřovým masem, zeleninou a sýrem, čaj *, sirup,
                            voda, salátový bar
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span title="Celer a výrobky z  něj">9</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Drůbeží STROGANOFF, rýže dušená, čaj, sirup, voda, salátový bar





















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. večeře č.1+ balíček (bageta řízečková, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>, <span
                                    title="Sezamová semena (sezam) a výrobky z nich">11</span>)</span>


                        </div>
                    </div>

                </article>
            </div>














            <div class="jidelnicekDen">
                <div id="day-2025-02-07" class="jidelnicekTop semibold">
                    Jídelníček na 07.02.2025 - Pátek
                </div>
                <article>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Míchaná vejce, kontinentální snídaně *, čaj *















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Bageta salámová, ovoce *












                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 3</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. míchaná vejce, zelenina, kontinentální snídaně, čaj *, jogurt, müsli, mléko + balíček
                            (kapsa s povidlovou náplní, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Sezamová semena (sezam) a výrobky z nich">11</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka zelná, mexická tortila, čaj *, sirup, voda, salátový bar





















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka zelná, ryba smažená, citron, brambory *, čaj *, sirup, voda, salátový bar, pro
                            celiaky - ryba přírodní
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Ryby  a výrobky  z nich">4</span>, <span
                                    title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>)</span>


                        </div>
                    </div>

                </article>
            </div>














            <div class="jidelnicekDen">
                <div id="day-2025-02-10" class="jidelnicekTop semibold">
                    Jídelníček na 10.02.2025 - Pondělí
                </div>
                <article>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Eidam sýr uzený, kontinentální snídaně *, čaj *















                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Bageta se sýrem *, ovoce *












                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Snídaně 3</span>
                        </div>

                        <div class="column jidelnicekItem">
                            N. Eidan sýr uzený, zelenina, kontinentální snídaně, čaj *, jogurt, müsli, mléko + balíček
                            (croissant, ovoce)



























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Podzemnice olejná (arašídy) a výrobky z nich - patří mezi potraviny ohrožující život">5</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka selská *, tokáň pivovarský *, houskový knedlík, čaj *, sirup, voda, salátový bar
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Korýši a výrobky z nich - patří mezi potraviny ohrožující život">2</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Ryby  a výrobky  z nich">4</span>, <span
                                    title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>, <span
                                    title="Měkkýši a výrobky z nich">14</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Oběd 2</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Polévka selská *, kuřecí stehno BBQ, brambory *, čaj *, sirup, voda, salátový bar, vhodné
                            pro celiaky
























                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Korýši a výrobky z nich - patří mezi potraviny ohrožující život">2</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span title="Ryby  a výrobky  z nich">4</span>, <span
                                    title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>, <span
                                    title="Hořčice a  výrobky z ní">10</span>, <span
                                    title="Sezamová semena (sezam) a výrobky z nich">11</span>, <span
                                    title="Měkkýši a výrobky z nich">14</span>)</span>


                        </div>
                    </div>

                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 1</span>
                        </div>

                        <div class="column jidelnicekItem">
                            Pánev WOK, čaj *, sirup, voda, salátový bar
                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span
                                    title="Podzemnice olejná (arašídy) a výrobky z nich - patří mezi potraviny ohrožující život">5</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>)</span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="shrinkedColumn smallBoldTitle jidelnicekItem">
                            <span style="color: #1b75bb;">Večeře 2</span>
                        </div>
                        <div class="column jidelnicekItem">
                            N. večeře č.1+ balíček (bageta se salámová, ovoce)
                            <span class="textGrey">(<span
                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich">1</span>,
                                <span title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život">3</span>,
                                <span
                                    title="Podzemnice olejná (arašídy) a výrobky z nich - patří mezi potraviny ohrožující život">5</span>,
                                <span title="Sójové boby (sója) a výrobky z nich">6</span>, <span
                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život">7</span>,
                                <span
                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů">8</span>,
                                <span title="Celer a výrobky z  něj">9</span>)</span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div align="center" class="textGrey noPrint"
        style="position: relative; clear: both; z-index:1; text-align: center; margin-top: 10px">iCanteen 2.18.03 |
        2025-02-03 09:36:03 | &copy; <a href="https://www.z-ware.cz">Z-WARE s.r.o.</a> 2003-2021
    </div>
</body>
</html>