<html>
<head>
    <title>iCanteen - objednání stravy</title>
</head>
<body>
    <form name="reader" id="reader" style="margin:0px; display:inline;" method="POST"
        action="/logout?terminal=true&amp;keyboard=false&amp;printer=false">
        <input type="hidden" name="code" id="code">
        <input type="hidden" name="_csrf" value="744bad51-562e-469b-bfff-f8a738777538" />
    </form>
    <div id="bodyContext" style="height: 100%;">
        <div id="topContext" class="noPrint topContext">
            <div class="topMenu topMenuMinWidth" style="padding-top: 0px; padding-bottom: 0px" role="banner">
                <table style="width: 100%;">
                    <tr>
                        <td class="statusBar statusBarMain">
                            <span class="topMenuItem">čas: <span id="Clock"
                                    style="font-weight: bold;">07:30.24</span></span>
                            <span id="kreditInclude">
                                <span class="topMenuItem"> <span
                                        title="Průběžně aktualizovaný kredit, který zahrnuje všechny objednávky i na období budoucí. ">kredit</span>:
                                    <span id="Kredit" tabindex="0" style="font-weight: bold; color: #99cc00;"
                                        title="742,00 limit účtu je&nbsp;0,00">742,00&nbsp;Kč</span>
                                </span>
                            </span>
                        </td>
                        <td class="statusBar statusBarMain">
                        </td>
                        <td class="statusBar statusBarRight">
                            <a href="javascript:window.print()" title="Vytisknout stránku"><i
                                    class="topMenuItem fa fa-print fa-lg"></i></a>
                            <a href="/web/info" title="Informace o jídelně"><i
                                    class="topMenuItem fa fa-info-circle fa-lg"></i></a>
                            <a href="/web/audit" title="Audit log operací v systému"><i
                                    class="topMenuItem fa fa-file-alt fa-lg"></i></a>
                            <a href="/web/setting" title="Možnosti nastavení systému"><i
                                    class="topMenuItem fa fa-cog fa-lg"></i></a>
                            <a href="/web/messages" title="Zprávy od jídelny"><span class="topMenuItem"><i
                                        class=" fa fa-envelope fa-lg"></i></span></a>
                            <span class="topMenuItem" title="Přihlašovací jméno: NULL"><span
                                    id="top:status:firstName">Pavel</span>&nbsp;<span
                                    id="top:status:lastName">DOBIÁŠ</span></span>
                            <span><a href="#" onclick="document.getElementById('logout').submit();"
                                    title="Odhlášení uživatele ze systému"><i
                                        class="topMenuItem fa fa-sign-out-alt fa-lg warning"></i></a></span>
                            <form name="logout" id="logout" method="POST"
                                action="/logout?terminal=false&amp;keyboard=false&amp;printer=false">
                                <input type="hidden" name="_csrf" value="744bad51-562e-469b-bfff-f8a738777538" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="topMenu topMenuMinWidth noPrint" role="navigation">
                <table width="100%" border="0" cellspacing="2" cellpadding="0" style="table-layout: fixed;">
                    <tr>
                        <td class="mainMenu" title="Jídelníček na jeden den s měsíčním kalendářem"><a
                                href="/faces/secured/main.jsp"><span class="mainMenuItem"><i
                                        class="far fa-calendar-day fa-2x"></i><span
                                        class="mainMenuText">denní</span></span></a></td>
                        <td class="mainMenu" title="Jídelníček na jeden den s týdenním kalendářem"><a
                                href="/faces/secured/week.jsp?week=0&amp;terminal=false&amp;keyboard=false&amp;printer=false"><span
                                    class="mainMenuItem"><i class="far fa-calendar-week fa-2x"></i><span
                                        class="mainMenuText">týdenní</span></span></a></td>
                        <td class="mainMenu" title="Jídelníček se všemi schválenými dny"><a
                                href="/faces/secured/month.jsp"><span class="mainMenuItem"><i
                                        class="far fa-calendar-alt fa-2x"></i><span
                                        class="mainMenuText">měsíční</span></span></a></td>
                        <td class="mainMenu" title="Můžete převzít jídlo jiného strávníka z burzy jídel"><a
                                href="/faces/secured/burza.jsp"><span class="mainMenuItem"><i
                                        class="fa fa-chart-line fa-2x"></i><span
                                        class="mainMenuText">burza</span></span></a></td>
                        <td class="mainMenu" title="Historie plateb"><a href="/faces/secured/platby.jsp"><span
                                    class="mainMenuItem"><i class="far fa-money-bill-alt fa-2x"></i><span
                                        class="mainMenuText">platby</span></span></a></td>
                        <td class="mainMenu" title="Detaily objednávek včetně popisu jídla"><a
                                href="/faces/secured/objednavky.jsp"><span class="mainMenuItem"><i
                                        class="far fa-shopping-cart fa-2x"></i><span
                                        class="mainMenuText">objednávky</span></span></a></td>
                        <td class="mainMenu" title="Přehled plateb a objednávek"><a
                                href="/faces/secured/historie.jsp"><span class="mainMenuItem"><i
                                        class="far fa-history fa-2x"></i><span
                                        class="mainMenuText">historie</span></span></a></td>
                    </tr>
                </table>
            </div>
            <div class="bkg"></div>
        </div>
        <div id="mainContext" class="mainContext mainContextMinWidth" role="main">
            <table width="100%">
                <tr>
                    <td valign="top" style="padding-right: 12px;">
                        <div id="day-2025-01-21" class="jidelnicekTop semibold" role="heading">Jídelníček na 21.01.2025
                            -
                            Úterý</div>
                        <div id="orderContent2025-01-21" class="orderContent">
                            <div class="jidelnicekMain">
                                <div class="jidelnicekItem " role="group" aria-labelledby="day-2025-01-21"
                                    aria-describedby="menu-3-day-2025-01-21 reason-3-day-2025-01-21">
                                    <div class="jidelnicekItemWrapper">
                                        <div class="jidWrapLeft">
                                            <a href="#" class="btn button-link button-link-main maxbutton ordered"
                                                onClick="
                                                                        ajaxOrder(this, 'db/dbProcessOrder.jsp?time=1737310888909&amp;token=Jak%2B%2FNR%2BarT8Xw5%2Bhd7TUpyCcjuCm2BJHiMf8B%2BEa9s%3D&amp;ID=755744&amp;day=2025-01-21&amp;type=delete&amp;week=&amp;terminal=false&amp;keyboard=false&amp;printer=false', '2025-01-21', 'ordered');"
                                                role="button">
                                                <span class="button-link-align">zrušit<span class="warning"
                                                        style="color:black">&nbsp;1&nbsp;ks</span></span>
                                                <span class="smallBoldTitle button-link-align">Oběd 1</span><span
                                                    class="button-link-align">za</span>
                                                <span class="important warning button-link-align"
                                                    title="Cena objednaného jídla">42,00&nbsp;Kč</span>
                                                <span class="button-link-tick">
                                                    <i class="fa fa-check fa-2x"
                                                        title="Máte objednáno<b>&nbsp;1&nbsp;ks</b> á <b>42,00&nbsp;Kč</b>"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="jidWrapCenter" id="menu-3-day-2025-01-21">
                                            Polévka hovězí s játrovou rýží * , hovězí maso námořnické *směs , přidává se
                                            víno a vejce , rýže dušená * , čaj * , sirup , voda , salátový bar <span
                                                class="textGrey">(<span
                                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich"
                                                    class="textGrey">Obiloviny</span><span>, </span><span
                                                    title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Vejce</span><span>, </span><span
                                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Mléko</span><span>, </span><span
                                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů"
                                                    class="textGrey">Skořápkové plody</span><span>, </span><span
                                                    title="Celer a výrobky z  něj" class="textGrey">Celer</span><span>,
                                                </span><span title="Hořčice a  výrobky z ní"
                                                    class="textGrey">Hořčice</span>)</span>
                                            <br>
                                        </div>
                                        <div id="icons28428" class="icons jidWrapRight">
                                            <i class="far fa-clock fa-2x inlineIcon"
                                                title="výdej&nbsp;od:&nbsp;<b>11:00:00</b>&nbsp;do:&nbsp;<b>14:40:00</b><br/> objednat&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b><br/> zrušit&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b>"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="jidelnicekItem " role="group" aria-labelledby="day-2025-01-21"
                                    aria-describedby="menu-4-day-2025-01-21 reason-4-day-2025-01-21">
                                    <div class="jidelnicekItemWrapper">
                                        <div class="jidWrapLeft">
                                            <a href="#" class="btn button-link button-link-main maxbutton enabled"
                                                onClick="
                                                                        ajaxOrder(this, 'db/dbProcessOrder.jsp?time=1737310888909&amp;token=KF2wcRVFypPCiT5gGBFLiIJOfr6E9nY5S1RIj82i0kM%3D&amp;ID=5&amp;day=2025-01-21&amp;type=reorder&amp;week=&amp;terminal=false&amp;keyboard=false&amp;printer=false', '2025-01-21', 'enabled');"
                                                role="button">
                                                <span class="button-link-align">přeobjednat</span>
                                                <span class="smallBoldTitle button-link-align">Oběd 2</span><span
                                                    class="button-link-align">s doplatkem</span>
                                                <span class="important warning button-link-align"
                                                    title="Rozdíl ceny oproti stávající objednávce&nbsp;Cena při objednání jídla:&nbsp;42,00&nbsp;Kč">0,00&nbsp;Kč</span>
                                            </a>
                                        </div>
                                        <div class="jidWrapCenter" id="menu-4-day-2025-01-21">
                                            Polévka hovězí s játrovou rýží * , kuře na způsob bažanta * , brambory
                                            šťouchané , čaj * , sirup , voda , salátový bar , pro celiaky-polévka s rýží
                                            a masem <span class="textGrey">(<span
                                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich"
                                                    class="textGrey">Obiloviny</span><span>, </span><span
                                                    title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Vejce</span><span>, </span><span
                                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Mléko</span><span>, </span><span
                                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů"
                                                    class="textGrey">Skořápkové plody</span><span>, </span><span
                                                    title="Celer a výrobky z  něj" class="textGrey">Celer</span><span>,
                                                </span><span title="Hořčice a  výrobky z ní"
                                                    class="textGrey">Hořčice</span>)</span>
                                            <br>
                                        </div>
                                        <div id="icons28429" class="icons jidWrapRight">
                                            <i class="far fa-clock fa-2x inlineIcon"
                                                title="výdej&nbsp;od:&nbsp;<b>11:00:00</b>&nbsp;do:&nbsp;<b>14:40:00</b><br/> objednat&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b><br/> zrušit&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b>"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width="375" valign="top" class="noPrint">
                        <table cellpadding="2" cellspacing="2" class="KalTable">
                            <tr>
                                <td class="KalZahlavi"><a
                                        href="main.jsp?day=2024-12-21&amp;terminal=false&amp;printer=false&amp;keyboard=false"><i
                                            class="fa fa-angle-double-left"></i></a></td>
                                <td colspan="5" nowrap class="KalZahlavi ">leden</td>
                                <td class="KalZahlavi"><a
                                        href="main.jsp?day=2025-02-21&amp;terminal=false&amp;printer=false&amp;keyboard=false"><i
                                            class="fa fa-angle-double-right"></i></a></td>
                            </tr>
                            <tr>
                                <td width="48" align="center" nowrap class="KalZahlavi">Po</td>
                                <td width="48" align="center" nowrap class="KalZahlavi">Út</td>
                                <td width="48" align="center" nowrap class="KalZahlavi">St</td>
                                <td width="48" align="center" nowrap class="KalZahlavi">Čt</td>
                                <td width="48" align="center" nowrap class="KalZahlavi">Pá</td>
                                <td width="48" align="center" nowrap class="KalZahlavi">So</td>
                                <td width="48" align="center" nowrap class="KalZahlavi">Ne</td>
                            </tr>
                            <tr>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>30</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>31</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>1</div>
                                </td>
                                <td class="KalTable Kal1" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-02&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>2</div>
                                </td>
                                <td class="KalTable Kal1" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-03&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>3</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>4</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>5</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-06&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>6</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-07&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>7</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-08&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>8</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-09&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>9</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-10&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>10</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>11</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>12</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-13&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>13</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-14&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>14</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-15&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>15</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-16&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>16</div>
                                </td>
                                <td class="KalTable Kal1" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-17&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>17</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>18</div>
                                </td>
                                <td class="KalTable KalDnes KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>19</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="KalTable Kal1" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-20&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>20</div>
                                </td>
                                <td class="KalTable Kal5 Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-21&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>21</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-22&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>22</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-23&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>23</div>
                                </td>
                                <td class="KalTable Kal6" width="48" align="center" height="48" valign="middle"
                                    onClick="$('#mainContext').load('main.jsp?day=2025-01-24&amp;terminal=false&amp;printer=false&amp;keyboard=false #mainContext>*','');">
                                    <div>24</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>25</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>26</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>27</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>28</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>29</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>30</div>
                                </td>
                                <td class="KalTable KalDatum" width="48" align="center" height="48" valign="middle">
                                    <div>31</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>1</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>2</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>3</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>4</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>5</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>6</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>7</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>8</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>9</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>10</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>11</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>12</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>13</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>14</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>15</div>
                                </td>
                                <td class="KalTable KalOtherMonth KalDatum" width="48" align="center" height="48"
                                    valign="middle">
                                    <div>16</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div align="center" class="topMenu topMenuMinWidth bottomBar textGrey noPrint" role="contentinfo"> Změna
                jídelníčku vyhrazena. | iCanteen 2.18.03 | </span>
            </div>
        </div>
    </div>
</body>
</html>