<html>
<head>
    <title>iCanteen - objednání stravy</title>
    <!-- Stripped Down HTML of /faces/secured/burza.jsp page. Only contains the neccessary structure with the expected data.-->
</head>
<body>
    <div id="bodyContext" style="height: 100%;">
        <div class="mainContext mainContextMinWidth" id="mainContext">
            <table class="tableDataShow">
                <tr class="bold">
                    <td>varianta</td>
                    <td align="left">datum</td>
                    <td align="left">popis</td>
                    <td align="left">výdejna</td>
                    <td align="right">počet</td>
                    <td align="right">objednat</td>
                </tr>
            </table>
            <div class="textGrey">
                <span class="fa-stack fa-lg">
                    <i class="far fa-square fa-stack-2x"></i>
                    <i class="fa fa-exclamation fa-stack-1x"></i>
                </span>
                Litujeme, ale v burze nejsou k dispozici žádná jídla.
            </div>
            {{ .Footer }}
        </div>
    </div>
</body>
</html>