<html>
<head>
    <title>iCanteen - objednání stravy</title>
    <!-- Stripped Down HTML of /faces/secured/main.jsp page. Only contains the neccessary structure with the expected data.-->
</head>
<body>
    <div id="bodyContext" style="height: 100%;">
        <div id="mainContext" class="mainContext mainContextMinWidth" role="main">
            <table width="100%">
                <tr>
                    <td valign="top" style="padding-right: 12px;">
                        <div id="day-2025-01-21" class="jidelnicekTop semibold" role="heading">Jídelníček na 21.01.2025
                            -
                            Úterý</div>
                        <div id="orderContent2025-01-21" class="orderContent">
                            <div class="jidelnicekMain">
                                <div class="jidelnicekItem " role="group" aria-labelledby="day-2025-01-21"
                                    aria-describedby="menu-3-day-2025-01-21 reason-3-day-2025-01-21">
                                    <div class="jidelnicekItemWrapper">
                                        <div class="jidWrapLeft">
                                            <a href="#" class="btn button-link button-link-main maxbutton ordered"
                                                onClick="ajaxOrder(this, 'db/dbProcessOrder.jsp?time=1737310888909&amp;token=Jak%2B%2FNR%2BarT8Xw5%2Bhd7TUpyCcjuCm2BJHiMf8B%2BEa9s%3D&amp;ID=755744&amp;day=2025-01-21&amp;type=delete&amp;week=&amp;terminal=false&amp;keyboard=false&amp;printer=false', '2025-01-21', 'ordered');"
                                                role="button">
                                                <span class="button-link-align">zrušit<span class="warning"
                                                        style="color:black">&nbsp;1&nbsp;ks</span></span>
                                                <span class="smallBoldTitle button-link-align">Oběd 1</span><span
                                                    class="button-link-align">za</span>
                                                <span class="important warning button-link-align"
                                                    title="Cena objednaného jídla">42,00&nbsp;Kč</span>
                                                <span class="button-link-tick">
                                                    <i class="fa fa-check fa-2x"
                                                        title="Máte objednáno<b>&nbsp;1&nbsp;ks</b> á <b>42,00&nbsp;Kč</b>"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="jidWrapCenter" id="menu-3-day-2025-01-21">
                                            Polévka hovězí s játrovou rýží * , hovězí maso námořnické *směs , přidává se
                                            víno a vejce , rýže dušená * , čaj * , sirup , voda , salátový bar <span
                                                class="textGrey">(<span
                                                    title="Obiloviny obsahující lepek - nejedná se o celiakii, výrobky z nich"
                                                    class="textGrey">Obiloviny</span><span>, </span><span
                                                    title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Vejce</span><span>, </span><span
                                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Mléko</span><span>, </span><span
                                                    title="Skořápkové  plody a výrobky z nich - jedná se o všechny druhy ořechů"
                                                    class="textGrey">Skořápkové plody</span><span>, </span><span
                                                    title="Celer a výrobky z  něj" class="textGrey">Celer</span><span>,
                                                </span><span title="Hořčice a  výrobky z ní"
                                                    class="textGrey">Hořčice</span>)</span>
                                            <br>
                                        </div>
                                        <div id="icons28428" class="icons jidWrapRight">
                                            <i class="far fa-clock fa-2x inlineIcon"
                                                title="výdej&nbsp;od:&nbsp;<b>11:00:00</b>&nbsp;do:&nbsp;<b>14:40:00</b><br/> objednat&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b><br/> zrušit&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b>"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="jidelnicekItem " role="group" aria-labelledby="day-2025-01-21"
                                    aria-describedby="menu-4-day-2025-01-21 reason-4-day-2025-01-21">
                                    <div class="jidelnicekItemWrapper">
                                        <div class="jidWrapLeft">
                                            <a href="#" class="btn button-link button-link-main maxbutton enabled"
                                                onClick="ajaxOrder(this, 'db/dbProcessOrder.jsp?time=1737310888909&amp;token=KF2wcRVFypPCiT5gGBFLiIJOfr6E9nY5S1RIj82i0kM%3D&amp;ID=5&amp;day=2025-01-21&amp;type=reorder&amp;week=&amp;terminal=false&amp;keyboard=false&amp;printer=false', '2025-01-21', 'enabled');"
                                                role="button">
                                                <span class="button-link-align">přeobjednat</span>
                                                <span class="smallBoldTitle button-link-align">Oběd 2</span><span
                                                    class="button-link-align">s doplatkem</span>
                                                <span class="important warning button-link-align"
                                                    title="Rozdíl ceny oproti stávající objednávce&nbsp;Cena při objednání jídla:&nbsp;42,00&nbsp;Kč">0,00&nbsp;Kč</span>
                                            </a>
                                        </div>
                                        <div class="jidWrapCenter" id="menu-4-day-2025-01-21">
                                            Polévka hovězí s játrovou rýží * , kuře na způsob bažanta * , brambory
                                            šťouchané , čaj * , sirup , voda , salátový bar , pro celiaky-polévka s rýží
                                            a masem <span class="textGrey">(<span
                                                    title="Obiloviny obsahující lepek–nejedná se o celiakii, výrobky z nich"
                                                    class="textGrey">Obiloviny</span><span>, </span><span
                                                    title="Vejce a výrobky z nich - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Vejce</span><span>, </span><span
                                                    title="Mléko  a  výrobky  z  něj - patří mezi potraviny ohrožující život"
                                                    class="textGrey">Mléko</span><span>, </span><span
                                                    title="Skořápkové  plody a výrobky z nich – jedná se o všechny druhy ořechů"
                                                    class="textGrey">Skořápkové plody</span><span>, </span><span
                                                    title="Celer a výrobky z  něj" class="textGrey">Celer</span><span>,
                                                </span><span title="Hořčice a  výrobky z ní"
                                                    class="textGrey">Hořčice</span>)</span>
                                            <br>
                                        </div>
                                        <div id="icons28429" class="icons jidWrapRight">
                                            <i class="far fa-clock fa-2x inlineIcon"
                                                title="výdej&nbsp;od:&nbsp;<b>11:00:00</b>&nbsp;do:&nbsp;<b>14:40:00</b><br/> objednat&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b><br/> zrušit&nbsp;do:&nbsp;<b>20.01.2025 15:00:00</b>"></i>
                                        </div>
                                        {{ .Lunches }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            {{ .Footer }}
        </div>
    </div>
</body>
</html>